/* This file is for your main application css. */
.max-lines {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.2em;
}

.adaptive-thumbnail { 
  height: 225px;
}

.caption > .bottom-left-aligned  {
  position:absolute; 
  bottom:0; 
  left: 25px; 
  margin-bottom:5px;
}

.caption > .bottom-right-aligned {
  position:absolute; 
  bottom:0;
  right: 25px; 
  margin-bottom:5px;
}

@media screen and (min-width: 350px) {
  .adaptive-thumbnail {
    height: 275px;
  }
}

@media screen and (min-width: 450px) {
  .adaptive-thumbnail {
    height:300px;
  }

  .caption > .bottom-left-aligned  {
  position:absolute; 
  bottom:0; 
  left: 25px; 
  margin-bottom:25px;
  }

  .caption > .bottom-right-aligned {
  position:absolute; 
  bottom:0;
  right: 25px; 
  margin-bottom:25px;
  }
}

@media screen and (min-width: 768px) {
  .adaptive-thumbnail {
    height: 275px;
  }
}

@media screen and (min-width: 992px) {
  .adaptive-thumbnail {
    height: 275px;
  }
}